{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p{
            display: inline;
            font-size: larger;
            font-weight: 700;
            color: aqua;
            background-image: linear-gradient(to top,red,blue);
        }
    </style>
</head>
<body>


    <p>count of posts = {% posts as totalpost %}</p>
    {% for post in totalpost %}
    <h1>{{ post.content | snippet:180}}</h1>
    {% endfor %}
</body>
</html>